@import './color.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
}

body {
  color: $blue;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  box-sizing: border-box;
  border: 3px dashed pink;
}

.App {
  height: 100vh;
}

// main {
//   margin-top: -60px;
// }

@media screen and (max-width: 960px) {
  main{
    position: relative;
  }
}