.paralaxSection {
  // background-image: url('img/color-pencil.jpg')
  background-image: url('../../../public/img/color-pencil.jpg');
  height: 60vh;

  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallaxSection {
    background-attachment: scroll;
  }
}