@use '../../app/colors';

.cta {
  background-color: colors.$blue;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  * {
    color: colors.$white
  }

  header {
    font-size: 2.5rem;
  }
}