.splashSection {
  background-image: url('/image/learn_xl.jpg');
  // background-attachment: fixed;
  background-size: cover;
  //style width image for mobile
  // background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 100vh;
}