@use '../../app/colors';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  // border: var(--border);
  

  ul {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
  }

  li:hover {
    color: colors.$red;
  }
}