@import '../_color.scss';

:root {
  --primary: $blue;
}

button {
  padding: 2vh 5vh;
  background-color: $blue;
  color: $white;
  border-color: $white;
  border-radius: 25px;
  cursor: pointer;
  border-style: none;
}

.outline {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid;
  border-color: var(--primary);
}

.white {
  background-color: $white;
  border-color: $blue;
  color: $blue;
}

// .outline {
//   background-color: transparent !important;
//   color: var(--primary) !important;
//   border: 1px solid;
//   border-color: var(--primary) !important;
// }

// .red {
//   color: $red;
//   border-color: $red;
//   background-color: $red;
// }