@import '../../_color.scss';

* {
  transition: 0.3s ease-in-out;
}

nav {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  // width: 100vw;
  height: 14vh;
  display: flex;
  justify-content: center;
  z-index: 1;
  background: rgba($white, 100%);

  a {
    text-decoration: none;
    color: inherit;
  }

  .navbar {
    padding: 1vh 0;
    display: flex;
    justify-content: space-between;
    width: 75vw;
    align-items: center;


    &__logo {
      width: 13vh; //mobile: 8vh
    }

    &__menu {
      // tutaj stylizuje menu dla desktopa
      // background-color: $red;

      >* {
        margin: 0 1vw;
      }

      >* {
        font-size: 16px;
      }

      .panel {
        display: flex;
        justify-content: space-around;
        font-size: 12px;
        position: absolute;
        top: 10px;

        > :first-of-type {
          border-right: 1px solid blue;
        }

        >* {
          padding: 0 35px;
        }
      }
      a:hover {
        color: red;
      }

      a:focus {
        border-bottom: 1px solid $blue;
      }

    }


    &__button {
      display: none;
    }
  }
}

.nav-active {
  background-color: $white;
  height: 10vh;
  opacity: 0.98;

  .navbar__logo {
    width: 10vh;
  }

  .navbar__menu {
    * {
      font-size: 14px !important;
    }

    .panel > * {
      padding: 0 30px;
      font-size: 11px !important;
    }
  }
}

@media screen and (max-width: 960px) {
  nav {
    // position: relative;
    position: sticky;
    background-color: $white;
    height: 8vh;

    .navbar {

      &__logo {
        width: 8vh;
      }

      .active {
        // gdy menu jest mobilne wyłączamy display:none
        // display: flex;
        left: 0;
        transition: all 0.6s ease;
      }

      &__menu {
        // tutja stylizujemy menu mobilne
        background-color: $white;
        top: 0;
        // display: none;
        display: flex;
        left: -100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: -1;
        color: $blue;
        transition: all 0.5s ease;

        * {
          font-size: 16px;
        }

        >* {
          // background-color: pink;
          padding: 3vh 0;
        }

        button {
          padding: 1vh 3vh;
        }
      }

      &__button {
        cursor: pointer;
        font-size: 28px;
        display: block;
      }
    }
  }
}